.dart_tool/
.packages
.pub/
.idea/
build/
*.iml
*.log
android/.gradle
android/local.properties
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
*.jks
*.keystore
firebase/functions/node_modules/
.env
